.custom-progress-container label{
    color: #1E1E1E;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 112.5% */
}
.custom-progress-container {
    display: flex;
    align-items: center;
  }
  
  .custom-progress {
    height: 26.37px;
    border-radius: 4px;
    background: #E16FA8;
  }
  